services:
  plex:
    image: plexinc/pms-docker:latest
    container_name: plex
    restart: unless-stopped
    network_mode: host

    env_file:
      - /etc/portainer-env/plex.env

    # NVIDIA (standalone Docker)
    # -> nécessite que nvidia-container-toolkit soit OK sur l'hôte
    environment:
      TZ: Europe/Paris
      NVIDIA_VISIBLE_DEVICES: ${NVIDIA_VISIBLE_DEVICES:-all}
      NVIDIA_DRIVER_CAPABILITIES: ${NVIDIA_DRIVER_CAPABILITIES:-compute,video,utility}
      ADVERTISE_IP: ${ADVERTISE_IP:-http://172.16.70.12:32400/}
      PLEX_UID: ${PLEX_UID:-1000}
      PLEX_GID: ${PLEX_GID:-1000}
      # PLEX_CLAIM: ${PLEX_CLAIM:-}

    volumes:
      - /srv/plex/config:/config
      - /srv/plex/transcode:/transcode
      - /mnt/media/videoblackbox:/media/videoblackbox
      - /mnt/media/videopriveblackbox:/media/videopriveblackbox
      - /mnt/media/musicblackbox:/media/musicblackbox
      - /mnt/media/ebooksblackbox:/media/ebooksblackbox

    gpus: all  

    healthcheck:
      test: ["CMD-SHELL", "curl -fsS http://127.0.0.1:32400/identity >/dev/null || exit 1"]
      interval: 30s
      timeout: 5s
      retries: 5
      start_period: 60s

    logging:
      driver: json-file
      options:
        max-size: "10m"
        max-file: "3"

    labels:
      - diun.enable=true
