services:
  syslog:
    image: balabit/syslog-ng:4.7.1
    container_name: syslog
    restart: unless-stopped
    networks: [dmzsec]
    ports:
      - "514:514/udp"
      - "514:514/tcp"
    volumes:
      - /docker/syslog/syslog-ng.conf:/etc/syslog-ng/syslog-ng.conf:ro
      - /docker/syslog/log:/var/log

  haproxy:
    image: haproxy:3.0
    container_name: haproxy
    env_file:
      - /etc/portainer-env/haproxy.env
    restart: unless-stopped
    depends_on: [syslog]
    networks: [dmzsec]
    ports:
      - "80:80/tcp"
      - "443:443/tcp"
      # Si tu veux exposer d'autres frontends TCP plus tard, tu ajouteras des ports ici
    environment:
      - TZ=${TZ}
    volumes:
      - /docker/haproxy/haproxy.cfg:/usr/local/etc/haproxy/haproxy.cfg:ro
      - /docker/haproxy/crt-list.txt:/usr/local/etc/haproxy/crt-list.txt:ro
      - /docker/haproxy/certs:/usr/local/etc/haproxy/certs:ro
    healthcheck:
      test: ["CMD-SHELL", "haproxy -c -f /usr/local/etc/haproxy/haproxy.cfg"]
      interval: 30s
      timeout: 5s
      retries: 3

  haproxy-exporter:
    image: prom/haproxy-exporter:v0.15.0
    container_name: haproxy-exporter
    restart: unless-stopped
    networks: [dmzsec]
    depends_on: [haproxy]
    environment:
      - TZ=${TZ}
      # Export via stats CSV (simple et efficace)
      - HAPROXY_SCRAPE_URI=http://${HAPROXY_STATS_USER}:${HAPROXY_STATS_PASS}@haproxy:8404/stats;csv
    ports:
      - "9101:9101/tcp"

networks:
  dmzsec:
    name: dmz-wan
    driver: bridge