services:
  diun:
    image: crazymax/diun:4.31.0
    container_name: diun

    restart: unless-stopped

    environment:
      TZ: Europe/Paris

    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - /docker/diun:/data

    command: ["serve", "--config", "/data/diun.yml"]

    logging:
      driver: json-file
      options:
        max-size: "10m"
        max-file: "3"

    labels:
      - diun.enable=false   # évite que Diun se surveille lui-même
