global:
  scrape_interval: 15s
  evaluation_interval: 15s

rule_files:
  - /etc/prometheus/rules/*.yml

alerting:
  alertmanagers:
    - static_configs:
        - targets: ["alertmanager:9093"]

scrape_configs:
  - job_name: dock02
    static_configs:
      - targets: ["172.16.70.12:9100"]
        labels:
          host: dock02-pwr

  - job_name: dock01
    static_configs:
      - targets: ["172.16.70.11:9100"]
        labels:
          host: dock01

  - job_name: dock04
    static_configs:
      - targets: ["172.16.20.1:9100"]
        labels:
          host: dock04-nina

  - job_name: cadvisor
    static_configs:
      - targets: ["172.16.70.12:8080"]
        labels: { host: "dock02-pwr" }
      - targets: ["172.16.70.11:8080"]
        labels: { host: "dock01" }
      - targets: ["172.16.20.1:8080"]
        labels: { host: "dock04-nina" }

    metric_relabel_configs:
      # Garder uniquement les séries "containers docker"
      - source_labels: [id]
        regex: '/system\.slice/docker-[0-9a-f]{64}\.scope'
        action: keep

      # (Optionnel) virer les labels ultra-verboses qui explosent la cardinalité
      - regex: 'container_label_org_opencontainers_.*'
        action: labeldrop
      - regex: 'container_label_com_docker_compose_project_config_files|container_label_com_docker_compose_project_working_dir'
        action: labeldrop

      # Renommage lisible
      - source_labels: [container_label_com_docker_compose_project]
        target_label: project
        action: replace

      - source_labels: [container_label_com_docker_compose_service]
        target_label: service
        action: replace

  - job_name: blackbox-icmp
    metrics_path: /probe
    params:
      module: [icmp]
    static_configs:
      - targets: ["172.16.70.12"]
        labels:
          host: dock02-pwr
          fqdn: dock02-pwr.leahparnal.org
      - targets: ["172.16.70.11"]
        labels:
          host: dock01
          fqdn: dock01.leahparnal.org
      - targets: ["172.16.20.1"]
        labels:
          host: dock04-nina
          fqdn: dock04-nina.leahparnal.org
      - targets: ["172.16.70.1"]
        labels:
          host: master
          fqdn: master.leahparnal.org
          role: ad-dns
      - targets: ["172.16.70.2"]
        labels:
          host: datac
          fqdn: datac.leahparnal.org
          role: file-server
    relabel_configs:
      - source_labels: [__address__]
        target_label: __param_target
      - source_labels: [__param_target]
        target_label: instance
      - target_label: __address__
        replacement: blackbox-exporter:9115

  - job_name: "windows"
    static_configs:
      - targets:
          - "172.16.70.1:9182"
        labels:
          host: "master"
          role: "dc"
      - targets:
          - "172.16.70.2:9182"
        labels:
          host: "datac"
          role: "file-server"

  - job_name: blackbox-dns-udp
    metrics_path: /probe
    params:
      module: [dns_udp]
    static_configs:
      - targets: ["172.16.70.1:53"]
        labels:
          host: master
          fqdn: master.leahparnal.org
          role: ad-dns
    relabel_configs:
      - source_labels: [__address__]
        target_label: __param_target
      - source_labels: [__param_target]
        target_label: instance
      - target_label: __address__
        replacement: blackbox-exporter:9115

  - job_name: blackbox-dns-tcp
    metrics_path: /probe
    params:
      module: [dns_tcp]
    static_configs:
      - targets: ["172.16.70.1:53"]
        labels:
          host: master
          fqdn: master.leahparnal.org
          role: ad-dns
    relabel_configs:
      - source_labels: [__address__]
        target_label: __param_target
      - source_labels: [__param_target]
        target_label: instance
      - target_label: __address__
        replacement: blackbox-exporter:9115

  - job_name: blackbox-ad-tcp
    metrics_path: /probe
    params:
      module: [tcp_connect]
    static_configs:
      - targets: ["172.16.70.1:389"]
        labels: { host: master, fqdn: master.leahparnal.org, role: ad, service: ldap }
      - targets: ["172.16.70.1:636"]
        labels: { host: master, fqdn: master.leahparnal.org, role: ad, service: ldaps }
      - targets: ["172.16.70.1:88"]
        labels: { host: master, fqdn: master.leahparnal.org, role: ad, service: kerberos }
      - targets: ["172.16.70.1:135"]
        labels: { host: master, fqdn: master.leahparnal.org, role: ad, service: rpc_epm }
      - targets: ["172.16.70.1:445"]
        labels: { host: master, fqdn: master.leahparnal.org, role: ad, service: smb }
    relabel_configs:
      - source_labels: [__address__]
        target_label: __param_target
      - source_labels: [__param_target]
        target_label: instance
      - target_label: __address__
        replacement: blackbox-exporter:9115

  - job_name: snmp-esxi
    metrics_path: /snmp
    params:
      module: [esxi_v2]
    static_configs:
      - targets:
          - 172.16.70.8   # ESXi
    relabel_configs:
      - source_labels: [__address__]
        target_label: __param_target
      - target_label: __address__
        replacement: snmp-exporter:9116
      - source_labels: [__param_target]
        target_label: instance

  - job_name: vmware-api
    static_configs:
      - targets:
          - vmware-exporter:9272


