global:
  scrape_interval: 15s
  evaluation_interval: 15s

rule_files:
  - /etc/prometheus/rules/*.yml

alerting:
  alertmanagers:
    - static_configs:
        - targets: ["alertmanager:9093"]

scrape_configs:
  - job_name: dock02
    static_configs:
      - targets: ["172.16.70.12:9100"]
        labels:
          host: dock02-pwr

  - job_name: dock01
    static_configs:
      - targets: ["172.16.70.11:9100"]
        labels:
          host: dock01

  - job_name: dock04
    static_configs:
      - targets: ["172.16.20.1:9100"]
        labels:
          host: dock04-nina
