global:
  scrape_interval: 15s
  evaluation_interval: 15s

rule_files:
  - /etc/prometheus/rules/*.yml

alerting:
  alertmanagers:
    - static_configs:
        - targets: ["alertmanager:9093"]

scrape_configs:
  - job_name: dock02
    static_configs:
      - targets: ["172.16.70.12:9100"]
        labels:
          host: dock02-pwr

  - job_name: dock01
    static_configs:
      - targets: ["172.16.70.11:9100"]
        labels:
          host: dock01

  - job_name: dock04
    static_configs:
      - targets: ["172.16.20.1:9100"]
        labels:
          host: dock04-nina

  - job_name: cadvisor
    static_configs:
      - targets: ["172.16.70.12:8080"]
        labels: { host: "dock02-pwr" }
      - targets: ["172.16.70.11:8080"]
        labels: { host: "dock01" }
      - targets: ["172.16.20.1:8080"]
        labels: { host: "dock04-nina" }

    metric_relabel_configs:
      # Garder uniquement les séries "containers docker"
      - source_labels: [id]
        regex: '/system\.slice/docker-[0-9a-f]{64}\.scope'
        action: keep

      # (Optionnel) virer les labels ultra-verboses qui explosent la cardinalité
      - regex: 'container_label_org_opencontainers_.*'
        action: labeldrop
      - regex: 'container_label_com_docker_compose_project_config_files|container_label_com_docker_compose_project_working_dir'
        action: labeldrop

      # Garder uniquement les containers docker
      - source_labels: [id]
        regex: '/system\.slice/docker-[0-9a-f]{64}\.scope'
        action: keep
    
      # Renommage lisible
      - source_labels: [container_label_com_docker_compose_project]
        target_label: project
        action: replace
    
      - source_labels: [container_label_com_docker_compose_service]
        target_label: service
        action: replace


