  GNU nano 8.4                                                                               /etc/portainer-env/unifi.env
PUID=1000
PGID=1000

MONGO_USER=unifi
MONGO_PASS=change me
MONGO_HOST=unifi-db
MONGO_PORT=27017
MONGO_DBNAME=unifi
# MONGO_AUTHSOURCE=admin   # si besoin selon ta config
