groups:
- name: esxi-datastores
  rules:
  - alert: ESXiDatastoreInaccessible
    expr: vmware_datastore_accessible == 0
    for: 2m
    labels:
      severity: critical
    annotations:
      summary: "ESXi datastore inaccessible"
      description: "Datastore {{ $labels.ds_name }} (DC={{ $labels.dc_name }}) est INACCESSIBLE."

  - alert: ESXiDatastoreAlmostFull
    expr: 100 * (1 - (vmware_datastore_freespace_size / vmware_datastore_capacity_size)) > 95
    for: 15m
    labels:
      severity: warning
    annotations:
      summary: "ESXi datastore presque plein (>95%)"
      description: "Datastore {{ $labels.ds_name }} (DC={{ $labels.dc_name }}) > 95% depuis 15 min."

  - alert: ESXiDatastoreFullCritical
    expr: 100 * (1 - (vmware_datastore_freespace_size / vmware_datastore_capacity_size)) > 98
    for: 10m
    labels:
      severity: critical
    annotations:
      summary: "ESXi datastore critique (>98%)"
      description: "Datastore {{ $labels.ds_name }} (DC={{ $labels.dc_name }}) > 98% depuis 10 min."
