services:
  pihole:
    image: pihole/pihole:latest
    container_name: pihole
    restart: unless-stopped

    ports:
      - "53:53/tcp"
      - "53:53/udp"
      - "8001:80/tcp"
      - "8003:443/tcp"

    env_file:
      - /etc/portainer-env/pihole.env

    environment:
      TZ: Europe/Paris
      FTLCONF_dns_listeningMode: "all"

    volumes:
      - /docker/pihole/etc-pihole:/etc/pihole
      - /docker/pihole/etc-dnsmasq.d:/etc/dnsmasq.d

    cap_add:
      - NET_ADMIN

    healthcheck:
      test: ["CMD-SHELL", "wget -qO- http://127.0.0.1/admin/ >/dev/null 2>&1 || exit 1"]
      interval: 30s
      timeout: 5s
      retries: 5
      start_period: 30s

    logging:
      driver: json-file
      options:
        max-size: "10m"
        max-file: "3"

    labels:
      - diun.enable=true
