version: "3.9"

services:
  stirling-pdf:
    image: ghcr.io/stirling-tools/stirling-pdf:latest
    container_name: stirling-pdf
    restart: unless-stopped

    environment:
      - TZ=Europe/Paris

    ports:
      - "172.16.70.11:8088:8080"

    volumes:
      - /docker/stirling-pdf/config:/configs
      - /docker/stirling-pdf/data:/data

    security_opt:
      - no-new-privileges:true

    healthcheck:
      test: ["CMD-SHELL", "curl -fsS http://127.0.0.1:8080/ >/dev/null || exit 1"]
      interval: 30s
      timeout: 5s
      retries: 5
