TZ=Europe/Paris
PUID=1000
PGID=1000

# DNS Pi-hole
DNS_PIHOLE=172.16.90.1

# Proton WireGuard
VPN_SERVICE_PROVIDER=protonvpn
VPN_TYPE=wireguard
WIREGUARD_PRIVATE_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
WIREGUARD_ADDRESSES=10.2.0.2/32
SERVER_COUNTRIES=Switzerland
# Port forwarding
VPN_PORT_FORWARDING=on
PORT_FORWARD_ONLY=on
