TZ=Europe/Paris
PUID=1000
PGID=1000

# DNS Pi-hole
DNS_PIHOLE=172.16.90.1

# Proton WireGuard
VPN_SERVICE_PROVIDER=protonvpn
VPN_TYPE=wireguard
WIREGUARD_PRIVATE_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
WIREGUARD_ADDRESSES=10.2.0.2/32
SERVER_COUNTRIES=Switzerland
# Port forwarding
VPN_PORT_FORWARDING=on
PORT_FORWARD_ONLY=on

# Ports exposés (via gluetun)
PORT_QBT_WEBUI=8080
PORT_PROWLARR=9696
PORT_FIREFOX_HTTP=5800
PORT_FIREFOX_HTTPS=5801

# Arr (hors VPN)
PORT_RADARR=7878
PORT_SONARR=8989
PORT_LIDARR=8686
# PORT_READARR=8787

# Paths hôte
DATA_ROOT=/srv/downloads/qbittorrent
MEDIA_GOLD=/mnt/media-gold
MEDIA_UPGRADE=/mnt/media-upgrade