TZ=Europe/Paris
PUID=1000
PGID=1000

# DNS Pi-hole
DNS_PIHOLE=172.16.90.1

# Proton WireGuard
VPN_SERVICE_PROVIDER=protonvpn
VPN_TYPE=openvpn
OPENVPN_USER=xxxxxxxxxxxxxxxxx+pmp
OPENVPN_PASSWORD=xxxxxxxxxxxxxxxxx
# WIREGUARD_PRIVATE_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
# WIREGUARD_ADDRESSES=10.2.0.2/32
SERVER_NAMES=CH#937,CH#362,CH#385,CH#466,CH#566,CH#581,CH#766,CH#781,CH#937
# SERVER_COUNTRIES=Switzerland
# Port forwarding
VPN_PORT_FORWARDING=on
PORT_FORWARD_ONLY=on
